body {
    display: flex;
    margin: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#simon {
    height: 80%;
    width: 40%;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 0;
    border-radius: 50%;
}

.color_contain {
    height: 50%;
    width: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.g_dark {
    background-color: rgba(172, 255, 47, 0.5);
}

.r_dark {
    background-color: rgba(255, 0, 0, 0.5);
}

.y_dark {
    background-color: rgba(255, 255, 0, 0.5);
}

.b_dark {
    background-color: rgba(0, 0, 255, 0.5);
}

.color_contain div {
    height: 40%;
    width: 20%;
}