body {
    display: flex;
    margin: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#simon {
    height: 80%;
    width: 40%;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 0;
    border-radius: 5%;
}

.color_contain {
    height: 50%;
    width: 100%;
    border-radius: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#dark_green {
    background-color: rgba(0, 128, 0, 0.2);
}
#light_green {
    background-color: rgb(0, 255, 0);
}

#dark_red {
    background-color: rgba(255, 0, 0, 0.2);
}
#light_red {
    background-color: red;
}

#dark_yellow {
    background-color: rgba(255, 255, 0, 0.2);
}
#light_yellow {
    background-color: yellow;
}

#dark_blue {
    background-color: rgba(0, 0, 255, 0.2);
}
#light_blue {
    background-color: blue;
}

.color_contain div {
    height: 50%;
    width: 25%;
    border-radius: 5%;
}